.question-page {
    background-color: #f8f9fa; /* 부트스트랩 기본 배경색 */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .choice-item:hover {
    background-color: #e9ecef;
    transition: background-color 0.2s;
  }
  